{
  "extends": "airbnb",
  "env": {
    "browser": false,
    "es6": true,
    "node": true
  },
  "parser": "babel-eslint",
  "rules": {
    no-underscore-dangle: ["error", { "allow": ["_extend", "__tests"] }],
    "indent": ["error", "tab"],
    no-unused-vars: ["error", { "varsIgnorePattern": "app" }],
    "no-console": 0
  },
  "globals": {
  }
}
